body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 600px;
    padding: 40px;
    background-color: #add8e6; /* Baby Blue */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #343a40;
}

label {
    font-size: 18px;
    color: #343a40;
    font-weight: bold;
}

.form-control {
    font-size: 16px;
    padding: 10px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

select.form-control {
    height: 46px;
}

.btn-primary {
    background-color: #28a745;
    border: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
}

.btn-primary:hover {
    background-color: #218838;
}

.btn-primary:focus {
    background-color: #218838;
    box-shadow: none;
}

.info-text {
    font-size: 14px;
    color: #6c757d;
    margin-top: 10px;
}

.custom-checkbox .form-check-input {
    background-color: #add8e6;
}

.custom-checkbox .form-check-input:checked {
    background-color: #28a745;
}

.custom-checkbox .form-check-input:checked + .form-check-label {
    color: #28a745;
}

.custom-checkbox .form-check-label {
    color: #343a40;
}

.custom-checkbox .form-check-label:hover {
    color: #28a745;
}

.table-light-row {
    background-color: #607f9f; 
}

/* Stil für den Bearbeiten-Button */
.edit-btn {
    color: #a43232; /* Textfarbe */
    background-color: #ffc107; /* Hintergrundfarbe */
    border-color: #ffc107; /* Farbe des Rahmens */
}

/* Optional: Ändere den Mauszeiger, wenn über den Bearbeiten-Button gehalten wird */
.edit-btn:hover {
    background-color: #ffca2b;
    border-color: #ffca2b;
}