<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dokument erstellen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="dokument.js"></script>
    <script src="dokument_other.js"></script>
</head>
<body  onload="load_dokumente()">
    <div class="container">
        <h1>Dokument Liste</h1>
        <table class="table">
            <thead>
            <td>Dokumentenname</td>
            <td>Dokumentenart</td>
            <td>Dokumentbeschreibung</td>
            </thead>
            <tbody id="document_list"></tbody>
        </table>
        <a href="create_dokument.html">new document</a>
    </div>
<h1>First Page</h1>
</body>
</html>