<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Medikation erstellen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="medikation.js"></script>
  <script src="medikation_other.js"></script>
</head>
<body  onload="load_medikamente()">
<div class="container">
  <h1>Medikament Liste</h1>
  <table class="table">
    <thead>
    <td>Medikamentenname</td>
    <td>Dosis</td>
    <td>Zeit der Einnahme</td>
    <td>Altersgruppe</td>
    <td>Beschreibung</td>
    </thead>
    <tbody id="medication_list"></tbody>
  </table>
  <a href="create_medication.html">new medication</a>
</div>
<h1>First Page</h1>
</body>
</html>