<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="chirurgdesign.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<!--<body style="background-image: url(w.jpg);">-->
<body onload="load()">
<table>
    <tr class="tabelle">
        <th>Arzt</th>
        <th>Patient</th>
        <th>Datum</th>
        <th>Fall</th>
        <th>Eingriff</th>
    </tr>
    <tbody id="tabelle"></tbody>
</table>
</form>
</div>
<a href="http://localhost:8080/SurgeryFormular.html">
    <button>Formular</button>
</a>
<script src="Surgeryjs.js"></script>

</body>
</html>
