<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="Bildbefund.js"></script>
</head>
<body>

<div class="container">
    <h1>New Bildbefund</h1>
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" splaceholder="Name">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputBirth" class="col-sm-2 col-form-label">Birth</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputBirth" splaceholder="Birth">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputGender" splaceholder="Gender">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputBeschreibung" class="col-sm-2 col-form-label">Beschreibung</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputBeschreibung" splaceholder="Beschreibung">
        </div>
    </div>
    <div>
        <button class="btn btn-primary" onclick="save_Bildbefund()">Save</button>
    </div>
</div>
</body>
</html>