body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif, sans-serif;
    text-align: center;
    background-color: #3c3b65;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #3b609c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}
button:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(208, 208, 208);
}
select{
    width: 99%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium';
}
input[type="date"]{
    width: 99%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: 'Franklin Gothic Medium';
}
label{
    color: rgb(255, 255, 255);
}
h1{
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabelle tr:nth-child(odd) {
    background-color: #fff;
}