:root {
    --primary-color: #007bff; 
    --secondary-color: #ffffff;
    --danger-color: #dc3545; 
}

/* Formularstil */
body {
    background-color: #f8f9fa; 
}

.container {
    background-color: #ffffff; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--primary-color);
}

label {
    color: var(--primary-color);
}


.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

.save-button {
    background-color: #4CAF50; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    border: none; /* Kein Rand */
    padding: 10px 20px; /* Innenabstand oben/unten und links/rechts */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Schriftgröße */
    margin: 10px 2px; /* Außenabstand oben/unten und links/rechts */
    cursor: pointer; /* Zeiger, um anzudeuten, dass es anklickbar ist */
    border-radius: 4px; /* Abrundung der Ecken */
}