<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lagerbestand</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <th:block th:insert="~{masterpage/masterpage :: assets}"/>
</head>

<body>
<div th:replace="~{/masterpage/masterpage :: menu}"/>
<div class = "container-fluid p-5 bg-primary text-white text-center">
  <h1>
    Lagerbestand
  </h1>
</div>
<br>
<div class = 'container'>
  <form >
    <table class="tb">
      <tbody>
      <tr>
        <td>
          Verbrauchsmaterial
        </td>
        <td>

          <select id="verbrauchsmaterial" name="verbrauchsmaterial">
            <option value="Spritze">Spritze</option>
            <option value="Verbandsmaterial">Verbandsmaterial</option>
            <option value="Pflaster">Pflaster</option>
            <option value="Katheter">Katheter</option>
            <option value="Kompressoren">Kompressoren</option>
            <option value="Zungenspachtel">Zungenspachtel</option>
            <option value="Urinflaschen">Urinflaschen</option>
            <option value="Stethoskop">Stethoskop</option>
            <option value="Personenwage">Personenwage</option>
            <option value="Schnelltest">Schnelltest</option>
            <option value="Fieberthermometer">Fieberthermometer</option>
          </select>

        </td>
      </tr>

      <tr>

        <td>
          Menge

        <td>
          <input type="number" id="quantity" name="quantity" min="1">
        </td>
      </tr>
      <tr>
        <td>
          Fachnummer
        </td>
        <td>
          <select id="fachnr" name="fachnr">
            <option value="Fachnr. 01">Fachnr. 01</option>
            <option value="Fachnr. 02">Fachnr. 02</option>
            <option value="Fachnr. 03">Fachnr. 03</option>
            <option value="Fachnr. 04">Fachnr. 04</option>
            <option value="Fachnr. 05">Fachnr. 05</option>
            <option value="Fachnr. 06">Fachnr. 06</option>
            <option value="Fachnr. 07">Fachnr. 07</option>
          </select>
        </td>
      </tr>
      <tr>

      </tr>
      </tbody>
    </table>
  </form>
<br>
  <br>
  <br>
  <br>

  <table class="table">
    <thead>
    <th>Name</th><th>Menge</th><th>Fachnr.</th>
    </thead>
    <tbody id="table"></tbody>
  </table>

  <button id = "save" onclick="addItem()">speichern</button>

  <a href="http://localhost:8080/doctor/lagerbestandtabelle">
    <button>Tabelle</button>
  </a>



</div>
<script src="/lagerbestand/lagerbestand.js"></script>
</body>