<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grunddaten eingeben</title>
    <th:block th:insert="~{masterpage/masterpage :: assets}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="grunddaten.js.js"></script>
    <script src="grunddaten_other.js.js"></script>
</head>
<body  onload="load_grunddaten()">
<div th:replace="~{/masterpage/masterpage :: menu}"/>
<div class="container">
    <h1>Grunddaten Liste</h1>
    <table class="table">
        <thead>
        <td>Name</td>
        <td>Allergie</td>
        <td>Blutgruppe</td>
        <td>Medikation</td>
        </thead>
        <tbody id="grunddaten_list"></tbody>
    </table>
    <a href="create_grunddaten.html">new </a>
</div>
<h1>First Page</h1>
</body>
<section th:replace="~{/masterpage/masterpage :: footer}"/>
</html>